<section class="py-5 bg-dark text-white wvu-bg-position-top wvu-bg-size-cover" style="background-image: url('{{ .Get "backgroundImage" }}')">
  <div class="container position-relative wvu-z-index-content">
    <div class="row py-5">
      <div class="col col-md-6">
        <div class="wvu-bg-tint p-3 p-lg-4 my-n4">
          <div class="wvu-z-index-content">
            <h1 id="hero-1-label" class="display-2 wvu-shout wvu-bar">
              {{ .Get "headlineText" }}
            </h1>
            <p class="lead py-2">
              {{ .Get "bodyText" }}
            </p>
            <a class="btn btn-primary btn-lg" href="{{ .Get "link" }}" role="button">{{ .Get "cta" }} <span class="fas fa-arrow-right"></span></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>