<div class="py-3 wvu-z-index-content pb-3 bg-wvu-accent--blue-dark wvu-bg-vignetting" style="background-image: url('https://dsws.sandbox.wvu.edu/files/16a826c0-9a0e-4c9c-b000-98284cd76632/1780x1780?cb=3ba4a242260cca46f690682a69ec0dfb')">
  <div class="container position-relative wvu-z-index-content">
    <div class="row align-items-stretch">
      <div class="col-8 mt-5">        
        <h1 id="backpage-header-1-label" class="display-4 helvetica-neue-bold mb-0 text-white">{{ .Title }}</h1>      
      </div>    
    </div>
  </div>
</div>