{{ $featured_image := partial "func/GetFeaturedImage.html" . }}

{{ if $featured_image }}
  <div class="mb-2 position-relative">
    <a aria-hidden="true" tabindex="-1" title="" href="{{.RelPermalink}}" class="db grow">
      <img src="{{ $featured_image }}" class="card-img-top" alt="image from {{ .Title }}">
    </a>
  </div>
{{ end }}
<div>
  <h3 class="card-title" id="">
    <a href="{{.RelPermalink}}" class="h2 d-block wvu-shout wvu-bar mb-2 text-decoration-none text-wvu-blue">
      {{ .Title }}
    </a>
  </h3>
  <p>
    {{ $.Param "summary" }}
  </p>
  <a href="{{.RelPermalink}}" class="btn btn-primary btn-sm">{{ $.Param "read_more_copy" | default "Continue Reading" }}<span class="visually-hidden">: </span></a>
</div>
